{% extends 'default.html' %}

<!-- Название у нас будет news.title -->
{% block title %}
{{ news.title }}
{% endblock title %}

<!-- В контенте на странице мы выводим новость -->
{% load custom_filters %}
{% block content %}
{% if news %}
    <table class="news_screen">
        <tr>
            <td><p>{{ news.time_add|date:'d.m.y' }}</p></td>
            <td><h5>{{ news.title|censor }}</h5> <br> <p>{{ news.text|censor }}</p></td>
        </tr>
    </table>
{% else %}
    <h3>Не нашли новостей для вас. Зайдите попозже, пожалуйста.</h3>
{% endif %}
{% endblock content %}